.bookingcontainer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width : 75%;
    margin: auto;
}
.bookingcontainer h1{
    padding: 30px;
}

.productdetail{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.productdetail::-webkit-scrollbar {
    display: none;
}

.productdetail:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.productdetail img{
    width: 200px;
    height: 200px;
}

.products{
    width: 800px;
    max-height: 600px;
    padding: 10px;
    /* background-image: linear-gradient(119deg,#f8f9fa,#ade8f4,#90e0ef,#caf0f8,#ade8f4,#f8f9fa); */
    border-radius: 20px;
    margin: auto;
}

.detailpayment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment{
    width: 500px;
    height: 600px;
    padding: 10px;
    /* background-image: linear-gradient(119deg,#f8f9fa,#ade8f4,#90e0ef,#caf0f8,#ade8f4,#f8f9fa); */
    border-radius: 20px;
    display: flex;
}

.productdetail{
    display: flex;
    gap: 20px;
}


.productdetail p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 50px;
}

.productdetail p:nth-child(2){
    width: 300px;
}

.Inforamtion{
    width: 500px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;

}

.Inforamtion form{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Poppins', sans-serif;

}

.Inforamtion form input, 
textarea {
    padding: 10px 15px;
    border: none;
    background-color: #edf2fb;
    outline: none;
}
