@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.serviceContainer
{
    width: 75%;
    margin: auto;
    padding: 50px 0px ;
}

.Servicedetail
{
    text-align: center;
    width: 500px;
    color: #572138;
    margin: auto;
    padding: 30px 0px ;
}

.Servicedetail h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    padding: 10px 0px ;
}

.Servicedetail h2{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.Servicedetail p
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}
.serviceCardsContainer
{
    display: flex;
}

.serciceCard
{
    width: 300px;
    margin: auto;
    text-align: center;
    color: #572138;
    padding: 20px 0px ;
    border-radius: 20px;
}

.serciceCard:hover
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.serciceCard img 
{
    width :150px;

}

.serciceCard h2{
    padding: 20px 0px ;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}
    
.serciceCard p{
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0px 10px ;
}

.serciceCard button
{
    padding: 9px 30px;
    margin: 20px 0px;
    background-color: #A4EBDB ;
    border-radius: 20px;
    border: none;
    color: #572138;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}

.serciceCard button:hover
{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


@media (max-width : 900px) {
    
    .serviceCardsContainer
    {
        flex-direction: column;
    }


    .Servicedetail
    {
        width: auto ;
    }
}