@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.Navbar_Container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Navbar_Logo
{
    width: 150px;
    height: 80px;
}

.navabar_Link_Container
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navabar_Link_Container a,.navbar_Link_Mobile_Container a{
    text-decoration: none;
    color: #572138;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.navabar_Link_Container a.active , .navbar_Link_Mobile_Container a.active{
    
    background: #572138;
    padding: 5px 5px ;
    border-radius: 10px;
    color: white;
}

.navbar_btn
{
    border-radius: 10px ;
    background-color: transparent;
    padding: 6px 10px ;
    text-align: center;
}

.navbar_btn:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #ebb39c;
}

.navbar_Hamburger
{
    display: none;
}

/* ----------------------------------Media Query ----------------------------------*/

@media (max-width : 1050px ) {
    
    .Navbar_Container
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_Hamburger
    {
        display: block;
        position: absolute;
        right: 0px;
        top:15px;
    }

    .navabar_Link_Container{
        display: none;
    }

    .navbar_Link_Mobile_Container
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
        gap: 20px;
        margin-bottom: 10px;
        width: 100%; 
    }
}