.ServiceDisplayContainer{
    display: flex;
}

.ServiceDisplayInfo{
    width: 100%;
}

.ServiceDisplayInfo hr {
    border: none;
    border-bottom: 1px solid #f0f0f0;
}

.ServiceDisInfo {
    padding: 25px 20px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.ServiceDisInfo h1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ServiceDisInfo p {
    padding: 10px 0px;
    color: #878e9a;
}

.ServiceDisplaytableContanier {
    display: flex;
}

.ServiceDisplay {
    margin: auto;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.ServiceDisplay table {
    margin: 25px;
    display: block;
    overflow: auto;
    max-height: 730px;
    scroll-behavior: smooth; 
    background-color: #fbfbfc;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.ServiceDisplay table::-webkit-scrollbar{
    display: none;
}

.ServiceDisplay table tbody td{
    padding: 10px 0px ;
}

.ServiceDisplay table tr:nth-child(1) {
    text-transform: uppercase;
    /* box-shadow: none; */
}

.ServiceDisplay table tr th:nth-child(1),
td:nth-child(1) {
    width: 80px
}

.ServiceDisplay table tr th:nth-child(2),
td:nth-child(2) {
    width: 250px
}

.ServiceDisplay table tr th:nth-child(3),
td:nth-child(3) {
    width: 120px
}

.ServiceDisplay table tr td img {
    width: 110px;
    height: 80px;
}

.ServiceDisplay table tr th:nth-child(4),
td:nth-child(4) {
    width: 350px
}

.ServiceDisplay table tr th:nth-child(5),
td:nth-child(5) {
    width: 100px
}

.ServiceDisplay table tr th:nth-child(6),
td:nth-child(6) {
    width: 150px;
}

.ServiceDisplay table tr td:nth-child(6){
    font-size: 25px;
    cursor: pointer
}