/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*
{
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar
{
  background-color: azure;
  width: 20px ;
}

::-webkit-scrollbar-thumb {
  background-color: #EAD0BF;
  border-radius: 20px;
}
